body {
    font-family:'Roboto', sans-serif;
    }
    
html, body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    }

.container{
    width:80%;
    margin:0px auto;
    display: table;
    }

.start {
    position: relative;
    max-width: 100%;
    height: 150px;
    background-image: url(https://picsum.photos/id/774/6000/4000);
    text-align: center;
    margin:0px auto;
    }

#txt-input {
    float:left;
    width:80%;
    background-color:rgb(255, 255, 255);
    line-height: 25px;
    border:none;
    align-self: center;
    } 

#btn-click{
    float: right;
    width:20%;
    background-color:rgb(196, 196, 196);
    line-height: 25px;
    border:none;  
    align-self: center;
    }
  
.block{
    text-align: center;
    display: flex;
    }

.container h1{
     color:white;
     }

li{
    cursor: pointer;
    position: relative;
    padding: 12px 0px 12px 20px;
    list-style-type: none;
    font-size: 18px;
    user-select: none;
    transition:0.3;
    background: #eee;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

#btn-add{
    width: 20%;
    }

ul li button{
    float: right;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width:1px;
    border-color:grey;
    }

ul{
    padding-left: 0px;
    }

ul li:nth-child(odd) {
    background: #f9f9f9;
    }

ul li:hover {
    background: #ddd;
    }

  #btn-add:hover {
    background-color: #bbb;
  }

.btn{
    display: none;
  }

.modal{
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.4);
    }

.modal-content input{
    width: 100%;
    line-height: 2;
    }

#popupInput{
    margin:0;
    border:none;
    border-radius: 0;
    float:left;
    font-size:16px;
    }

.modal-content{
    
    position: relative;
    width: 60%;
    height:100px;
    background-color: orangered;
    margin-left: auto; 
    margin-right: auto;
    border: 20px solid white;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    }

.addBtn{
    float:left;
    text-align: center;
    width: 50%;
    line-height: 2;
    background-color:gainsboro;
    border:none;
    }

#closePopup{
    position: relative;
    float: right;
    bottom:110px;
    left:40px;
    font-size:25px;
    color:white;
    }

#closePopup{
    cursor: pointer;
    }

#btn_cancel,#btn_done{
    border: 1px solid white;
    }

 














